<div class="row">
  <div style="display: flex;">
    <img class="img-responsive center-block" src="{{user.image}}" style="width: 250px;margin-bottom: 25px;">
    <div>
      <div class="col-md-12">
        <h1>{{user.name}}</h1>
      </div>
      <div class="col-md-12">
        <p>{{user.email}}</p>
        <p><strong>{{user.Comments.length}}</strong> 已評論餐廳</p>
        <p><strong>{{user.FavoritedRestaurants.length}}</strong> 收藏的餐廳</p>
        <p><strong>{{user.Followings.length}}</strong> followings</p>
        <p><strong>{{user.Followers.length}}</strong> followers</p>
        <button type="button" class="btn btn-link">
          <a href="/users/{{user.id}}/edit">
            編輯個人資料
          </a>
        </button>
      </div>
    </div>
  </div>
  <hr>
</div>
{{!-- 使用者評論紀錄 --}}
<div class="row" style="background-color: rgba(192, 188, 188, 0.904)">
  <div class="col-12 mb-2 "
    style="border-bottom: 1px solid rgb(157, 216, 231); background-color: rgba(111, 207, 245, 0.5); height:50px;display:flex; align-items:center; justify-content: center">
    <strong>{{user.Comments.length}}</strong>已評論餐廳
  </div>
  <div class="col-12" style=" display: flex ;flex-wrap: wrap; justify-content: center">
    {{#each user.Comments}}
    <div class="comment-container m-4" style=" display: flex ;flex-direction:column; align-items: center">
      <a href="/restaurants/{{this.Restaurant.id}}">
        <img style="width:150px" src="{{this.Restaurant.image}}">
      </a>
      <div>{{this.Restaurant.name}}</div>
    </div>
    {{/each}}
  </div>
</div>
{{!-- --}}
<div class="row" style="background-color: rgba(192, 188, 188, 0.904)">
  <div class="col-12 mb-2 "
    style="border-bottom: 1px solid rgb(130, 105, 218); background-color: rgba(109, 130, 138, 0.5); height:50px;display:flex; align-items:center; justify-content: center">
    <strong>{{user.FavoritedRestaurants.length}}</strong>收藏的餐廳
  </div>
  <div class="col-12" style=" display: flex ;flex-wrap: wrap; justify-content: center">
    {{#each user.FavoritedRestaurants}}
    <div class="comment-container m-4" style=" display: flex ;flex-direction:column; align-items: center">
      <a href="/restaurants/{{this.id}}">
        <img style="width:150px" src="{{this.image}}">
      </a>
      <div>{{this.name}}</div>
    </div>
    {{/each}}
  </div>
</div>

<div class="row" style="background-color: rgba(95, 243, 144, 0.904)">
  <div class="col-12 mb-2 "
    style="border-bottom: 1px solid rgb(126, 241, 160); background-color: rgba(189, 247, 192, 0.5); height:50px;display:flex; align-items:center; justify-content: center">
    <strong>{{user.Followings.length}}</strong>followings
  </div>
  <div class="col-12" style=" display: flex ;flex-wrap: wrap; justify-content: center">
    {{#each user.Followings}}
    <div class="comment-container m-4" style=" display: flex ;flex-direction:column; align-items: center">
      <img style="width:150px" src="{{this.image}}">
      <h5 class="card-title">{{this.name}}</h5>
    </div>
    {{/each}}
  </div>
</div>


<div class="row" style="background-color: rgba(192, 188, 188, 0.904)">
  <div class="col-12 mb-2 "
    style="border-bottom: 1px solid rgb(199, 230, 65); background-color: rgba(244, 248, 206, 0.5); height:50px;display:flex; align-items:center; justify-content: center">
    <strong>{{user.Followers.length}}</strong>followers
  </div>
  <div class="col-12" style=" display: flex ;flex-wrap: wrap; justify-content: center">
    {{#each user.Followers}}
    <div class="comment-container m-4" style=" display: flex ;flex-direction:column; align-items: center">
      <img style="width:150px" src="{{this.image}}">
      <h5 class="card-title">{{this.name}}</h5>
    </div>
    {{/each}}
  </div>
</div>
<hr>
<br />